In [1]:
import pandas as pd
import os

In [2]:
run_info = pd.read_csv('sra.runinfo.csv.gz')
print(f"Loaded {len(run_info)} records from sra.runinfo.csv.gz")
run_info.head()

Loaded 702013 records from sra.runinfo.csv.gz

   Unnamed: 0          Run     ScientificName
0           0  SRR18036904  bovine metagenome
1           1  SRR18036905  bovine metagenome
2           2  SRR18036906  bovine metagenome
3           3  SRR18036907  bovine metagenome
4           4  SRR18036908  bovine metagenome

In [3]:
mastiff0_df = pd.read_csv('mastiff_out/akkermansia.x.sra.csv')

In [4]:
mastiff0_df.tail()

      SRA accession  containment
44760    ERR1302068     0.019172
44761    ERR4194907     0.019172
44762    ERR1726632     0.019172
44763   SRR10028495     0.019172
44764    SRR1197068     0.019172

In [5]:
mastiff_df = mastiff0_df[mastiff0_df['containment'] > 0.2]

In [6]:
mastiff2_df = mastiff_df.set_index('SRA accession').join(run_info.set_index('Run')['ScientificName'])
mastiff2_df.head()

               containment        ScientificName
SRA accession
ERR3576953             1.0  mouse gut metagenome
ERR3574923             1.0  mouse gut metagenome
ERR3576946             1.0  mouse gut metagenome
ERR1254312             1.0            metagenome
ERR3571992             1.0  mouse gut metagenome

In [7]:
# how many have 'null' scientific name?
null_df = mastiff2_df[mastiff2_df['ScientificName'].isnull()]
print(len(null_df))

659

In [8]:
mastiff3_df = mastiff2_df[~mastiff2_df['ScientificName'].isnull()]
print(f"Of {len(mastiff2_df)} MAGsearch results, {len(mastiff3_df)} have non-null ScientificName")
mastiff3_df.head()

Of 21146 MAGsearch results, 20487 have non-null ScientificName

               containment        ScientificName
SRA accession
ERR3576953             1.0  mouse gut metagenome
ERR3574923             1.0  mouse gut metagenome
ERR3576946             1.0  mouse gut metagenome
ERR1254312             1.0            metagenome
ERR3571992             1.0  mouse gut metagenome

In [9]:
# what are the top ScientificNames of the matches?
mastiff3_df["ScientificName"].value_counts()[:20]

human gut metagenome      10270
mouse gut metagenome       2298
human metagenome           1929
gut metagenome             1614
Homo sapiens               1232
metagenome                 1126
wastewater metagenome       702
feces metagenome            549
Mus musculus                298
mouse metagenome            147
rat gut metagenome           49
Rattus norvegicus            35
chicken gut metagenome       32
metagenomes                  30
Gallus gallus                25
pig gut metagenome           20
Firmicutes bacterium         17
unidentified                 13
synthetic metagenome         12
bovine gut metagenome        12
Name: ScientificName, dtype: int64